@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>
        Hello world
    </h1>
    <div>
        Go back home
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
            Go home
        </a>
    </div>
        

    <div>
        Go to privacy
        <a class="btn btn-primary" asp-controller="Home" asp-action="Privacy">
            Go Private
        </a>

    </div>
</div>
